/* apply a natural box layout model to all elements */
/* line 8, ../sass/main.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/main.scss */
body {
  font-family: arial,helvetica;
  color: white;
  font-size: 16px;
  background: #8c8b8c;
}

/* line 21, ../sass/main.scss */
h1 {
  font-size: 2.5em;
  margin: .5em 0 .4em 0;
  border-bottom: 5px solid #ff3a90;
  text-align: left;
}

/* line 27, ../sass/main.scss */
h2 {
  font-size: 1.5em;
  margin: .5em 0 .2em 0;
}

/* line 31, ../sass/main.scss */
h3 {
  font-size: 1em;
  margin: .5em 0 .2em 0;
}

/* line 36, ../sass/main.scss */
p {
  margin: .5em 0 .5em 0;
  line-height: 1.3em;
}

/* line 40, ../sass/main.scss */
.text-block {
  text-align: left;
}

/* line 49, ../sass/main.scss */
.about {
  background-color: #8c8b8c;
}

/* line 52, ../sass/main.scss */
.portfolio {
  background-color: #06377b;
}

/* line 55, ../sass/main.scss */
.skills {
  background-color: #6f962b;
}

/* line 58, ../sass/main.scss */
.contact {
  background-color: #5e5e5e;
}

/* line 61, ../sass/main.scss */
#fullpage {
  width: 100%;
}

/* line 64, ../sass/main.scss */
.section {
  text-align: center;
  width: 100%;
  padding: 0 3%;
}

/* line 70, ../sass/main.scss */
.tableCell {
  /* For use with fullpage.js sections */
  vertical-align: top;
  padding-top: 8%;
  padding-bottom: 4%;
}

/* line 80, ../sass/main.scss */
div .about-photo {
  width: 75%;
  max-width: 300px;
  min-width: 175px;
}

/* line 90, ../sass/main.scss */
.project {
  position: relative;
}

/* line 93, ../sass/main.scss */
.project-img {
  width: 100%;
  height: 100%;
}

/* line 97, ../sass/main.scss */
.project-img-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 99%;
  width: 100%;
}

/* line 107, ../sass/main.scss */
.project:hover .project-img-overlay {
  display: block;
}

/* line 110, ../sass/main.scss */
.project-img-overlay p {
  color: #fff;
  font-size: 2em;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}

/* line 129, ../sass/main.scss */
.column-padding {
  padding-right: 2% !important;
}

/* line 137, ../sass/main.scss */
#contact-links {
  margin: 0;
  padding: 0;
}

/* line 142, ../sass/main.scss */
#contact-links li {
  display: inline-block;
  margin: 10px;
  background: #ff3a90;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  width: 64px;
  height: 64px;
}
/* line 151, ../sass/main.scss */
#contact-links li img {
  width: 64px;
  height: 64px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
}
/* line 157, ../sass/main.scss */
#contact-links li:hover {
  background: white;
}

/* line 166, ../sass/main.scss */
#menu li {
  display: inline-block;
  margin: 10px;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 175, ../sass/main.scss */
#menu li.active {
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* line 180, ../sass/main.scss */
#menu li a {
  text-decoration: none;
  color: #000;
}

/* line 184, ../sass/main.scss */
#menu li.active a:hover {
  color: #000;
}

/* line 187, ../sass/main.scss */
#menu li:hover {
  background: rgba(255, 255, 255, 0.8);
}

/* line 191, ../sass/main.scss */
#menu li a,
#menu li.active a {
  padding: 9px 18px;
  display: block;
}

/* line 195, ../sass/main.scss */
#menu li.active a {
  color: #fff;
}

/* line 198, ../sass/main.scss */
#menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 212, ../sass/main.scss */
.mobile-menu a {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 64px;
  width: 64px;
  z-index: 1;
  margin-top: 1%;
  margin-right: 3%;
}

/* line 225, ../sass/main.scss */
.mobile-menu img {
  position: relative;
  top: 0;
  right: 0;
  display: block;
  height: 64px;
  width: 64px;
  z-index: 2;
  margin-top: 1%;
  margin-right: 3%;
}

/* line 241, ../sass/main.scss */
.container {
  width: 100%;
  border: 0;
  clear: both;
}

/* line 247, ../sass/main.scss */
.column {
  float: left;
  padding: 4px;
}

/* line 252, ../sass/main.scss */
.column-20 {
  width: 20%;
}

/* line 256, ../sass/main.scss */
.column-25 {
  width: 25%;
}

/* line 260, ../sass/main.scss */
.column-33 {
  width: 33%;
}

/* line 264, ../sass/main.scss */
.column-50 {
  width: 50%;
}

/* line 268, ../sass/main.scss */
.column-66 {
  width: 66.667%;
}

/* line 272, ../sass/main.scss */
.column-75 {
  width: 75%;
}

/* line 276, ../sass/main.scss */
.column-100 {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  /* line 284, ../sass/main.scss */
  .column-20, .column-25, .column-33,
  .column-50, .column-66, .column-75 {
    width: 100%;
  }

  /* line 289, ../sass/main.scss */
  #menu {
    display: block;
  }
}
@media screen and (max-width: 580px) {
  /* line 296, ../sass/main.scss */
  .project-img-text {
    font-size: 1.5em;
  }

  /* line 301, ../sass/main.scss */
  #menu li,
  #menu li.active {
    display: block;
    margin: 0;
    padding: 5px 0;
    color: #000;
    background: #ff3a90;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid white;
  }

  /* line 318, ../sass/main.scss */
  #menu li a {
    text-decoration: none;
    color: #000;
  }

  /* line 322, ../sass/main.scss */
  #menu li.active a:hover {
    color: #000;
  }

  /* line 325, ../sass/main.scss */
  #menu li:hover {
    background: #ff3a90;
  }

  /* line 329, ../sass/main.scss */
  #menu li a,
  #menu li.active a {
    padding: 5px 10px;
    display: block;
  }

  /* line 335, ../sass/main.scss */
  #menu li.active a {
    color: #000;
  }

  /* line 339, ../sass/main.scss */
  #menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /* line 357, ../sass/main.scss */
  .mobile-menu a {
    display: block;
    background: inherit;
    float: right;
  }
}
