$color-1: #FF3A90;	// pink
$color-2: #06377B;	// blue
$color-3: #6F962B;	// green
$color-4: #5E5E5E;	// dk gray
$color-5: #8C8B8C;	// gray

/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}


body {
	font-family: arial,helvetica;
	color: white;
    font-size: 16px;
}
h1 {
	font-size: 2.5em;	
	margin: .4em 0;
}
h2 {
	font-size: 1.5em;
	margin: .3em 0;
}
p {
	margin: 1% 0 5% 0;

}
.text-block {
	text-align: left;
	margin-top: 2em;
}


//////////////////////////////////////////////
// For the general page colors and alignments 
//
.about {
	background-color: $color-5;
}
.portfolio {
	background-color: $color-2;
}
.skills {
	background-color: $color-3;
}
.contact {
	background-color: $color-4;
}
#fullpage {
	width: 100%;
}
.section{
	text-align: center;
	width: 100%;
}

.page-header {
	border-bottom: 5px solid $color-1;
	text-align: left;
}

.tableCell {  /* For use with fullpage.js sections */ 
	vertical-align: top;
	padding-top: 4%;
}


/////////////////////////////////////////
// For the ABOUT PAGE 
//
div .about-photo {
	width: 75%;
	max-width: 300px;
	min-width: 175px;
}


/////////////////////////////////////////
// For the PORTFOLIO PAGE 
//
.project {
	position: relative;
}
.project-img {
	width: 80%;
}
.project-img-overlay{
	display: none;
	
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -40%;

	background-color: rgba(0,0,0,.6);
	height: 100%;
	width: 80%;

}
.project-img-text {
	display: none;

	color: white;
	text-align: center;
	font-size: 3em;

	position: absolute;
	top: 50%;
	left: 50%;

	margin-top: -5%;
	margin-left: -20%;
	
}


/////////////////////////////////////////
// For the CONTACT ME PAGE 
//
#contact-links li {
	display:inline-block;
	margin: 10px;
	background: $color-1;
	-webkit-border-radius: 12px; 
            border-radius: 12px;
    width: 64px;
    height: 64px;

    img {
    	width: 64px;
    	height: 64px;
    	-webkit-border-radius: 11px; 
        		border-radius: 11px;
    }
}


/////////////////////////////////////////
// For the TOP MENU 
//
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px; 
            border-radius: 10px; 
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}



/////////////////////////////////////////
// For the GRID SYSTEM 
//
.container {
    width: 100%;
    border: 0;
    clear: both;
}

.column {
    float: left;
    margin-right: .5%;
    padding: 4px;
}

.last {
    margin-right: 0 !important;
}

.column-20 {
	width: 20%;
}

.column-25 {
    width: 24.5%;   
}

.column-33 {
    width: 32.5%;   
}

.column-50 {
    width: 48%;
}

.column-66 {
    width: 66%;
}

.column-75 {
    width: 74.5%;
}

.column-100 {
    width: 100%;
}
